{{>header name="issue-detail" title=userIssue.issue.current}}
  <div class="masthead">
    <div class="wrap">
      <h1>Triaging 
        <a target="_blank" href="https://github.com/{{ userIssue.issue.repo.user }}/{{ userIssue.issue.repo.name }}/issues/{{ userIssue.issue.number }}">
        <span class="issue-location">
          <span class="repo">{{userIssue.issue.repo.user}}/{{userIssue.issue.repo.name}}</span>
          <span class="number">#{{ userIssue.issue.number }}</span>
        </span></a>
      </h1>
      <h3>
        <span class="issue-title">&ldquo;{{userIssue.issue.title}}&rdquo;</span> &mdash; by <a target="_blank" href="https://github.com/{{userIssue.issue.user}}" class="issue-author">{{ userIssue.issue.user }}</a>
        <span class="issue-meta created-at">Created <span>{{ humanDate userIssue.issue.createdAt }}</span></span>
        <span class="issue-meta updated-at">Last Updated: <span>{{ humanDate userIssue.issue.updatedAt }}</span></span>
        <span class="issue-meta question">Question <span>{{step userIssue}} / 6</span></span>
      </h3>
    </div>
  </div>

  <div class="container">
    <div class="wrap">
      <div class="nav">
      <a target="_blank" class="button secondary" href="https://github.com/{{ userIssue.issue.repo.user }}/{{ userIssue.issue.repo.name }}/issues/">
        Open Issues in a new tab
      </a>
      <a target="_blank" class="button secondary" href="https://github.com/{{ userIssue.issue.repo.user }}/{{ userIssue.issue.repo.name }}/issues/{{ userIssue.issue.number }}">
      Open
      <span class="issue-location">
        <span class="repo">{{userIssue.issue.repo.user}}/{{userIssue.issue.repo.name}}</span>
        <span class="number">#{{ userIssue.issue.number }}</span>
      </span>
      in a new tab
      </a>
      <form method="POST" action="/triage">
        <input type="hidden" name="crumb" value="{{crumb}}"/>
        <button class="button danger" name="skip" value="skip">I&#39;d like a different issue.</button>
      </form>
      </div>

      <h2>
        {{getQuestionText userIssue}}
      </h2>

      <form method="POST" action="/triage/{{ userIssue.issue.repo.user }}/{{ userIssue.issue.repo.name }}/{{ userIssue.issue.number }}">
        <input type="hidden" name="crumb" value="{{crumb}}"/>


        {{{getQuestionForm userIssue}}}

        <button class="button primary">Submit</button>
      </form>

    </div>
  </div>
{{>footer}}
