{{#each issue.repo.versions}}
<p>On {{issue.repo.name}} {{this}}?</p>
<div class="question">
  <label class="input-row">
    <input type="radio" name="answer_{{@index}}" value="yes" checked> Yes
  </label>
  <label class="input-row">
    <input type="radio" name="answer_{{@index}}" value="no"> No
  </label>
  <label class="input-row">
    <input type="radio" name="answer_{{@index}}" value="unknown"> I can&#39;t tell.
  </label>
</div>
{{/each}}
