{{>header name="triage-home" title="home"}}
{{#if current}}
<div class="masthead">
  <div class="wrap">
    <h1>Welcome back!</h1>
  </div>
</div>

<div class="container">
  <div class="wrap">
    <p style="font-size:1.25em">
      You&#39;re currently triaging
      <a class="bugname" target="_blank" href="https://github.com/{{ current.issue.repo.user }}/{{ current.issue.repo.name }}/issues/{{ current.issue.number }}">
        <span class="issue-location">
          <span class="repo">{{current.issue.repo.user}}/{{current.issue.repo.name}}</span>
          <span class="number">#{{ current.issue.number }}</span>
        </span>: {{ current.issue.title }}
      </a>.
    </p>

    <form method="POST" action="/triage">
      <a class="button primary" href="/triage/{{ current.issue.repo.user }}/{{ current.issue.repo.name }}/{{ current.issue.number }}">Continue triaging this bug</a>
      <input type="hidden" name="crumb" value="{{crumb}}"/>
      <button class="button danger noborder" name="skip" value="skip">Get a different bug</button>
    </form>
  </div>
</div>
{{else}}
<div class="masthead">
  <div class="wrap">
    <h1>Welcome!</h1>
  </div>
</div>

<div class="container">
  <div class="wrap">
    <p>
      Thanks for taking the time to help clean up
      the node issue tracker. It should only take about
      30 minutes to triage an issue, &amp; you can leave the
      page at any time and we&#39;ll remember where you were at.
    </p>
    <p>
      <form method="POST" action="/triage">
        <input type="hidden" name="crumb" value="{{crumb}}"/>
        <button class="button primary">Start triaging!</button>
      </form>
    </p>
  </div>
</div>
{{/if}}
{{>footer}}
